[Unit]
Description=Fine-tuning of power limits and frequency of APU Ryzen Mobile
After=systemd-udevd.service

[Service]
ExecStart=/usr/bin/RyzenCtrl startup
Restart=on-failure

[Install]
WantedBy=multi-user.target
